* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  font-family: 'Avenir', sans-serif;
  overflow: hidden !important;
}

input[type='text']{
  font-size: 16px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  input:focus {
    font-size: 16px !important;
  }
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}

.auth-button:hover { filter: brightness(145%); }

.ce-chat-card {
  background-color: #274054 !important;
}
.ce-active-chat-card {
  background-color: #274054 !important;
  filter: brightness(145%) !important;
  border-color: #274054 !important;
}

.ce-custom-message-form :focus {
  font-size: 16px !important;
}

.ce-my-message-body,
.ce-custom-send-button {
  background-color: rgb(56, 133, 150) !important;
  box-shadow: rgba(29, 186, 214, 0.35) 0px 2px 7px !important;
}

.ce-my-message-timestamp {
  color: rgb(56, 133, 150) !important;
}
.ce-custom-message-input,
.ce-custom-send-button,
.css-14ft38c-control {
  border-color: rgb(56, 133, 150) !important;
  box-shadow: rgba(29, 186, 214, 0.35) 0px 2px 7px !important;
}

.css-1s2s82g-control {
  border-color: rgb(56, 133, 150) !important;
  box-shadow: rgba(29, 186, 214, 0.35) 0px 2px 7px !important;
}

.ce-avatar ce-custom-header-avatar {
  border: 1px solid rgb(62, 215, 249) !important;
}

button.ce-new-chat-button {
  color: rgb(56, 133, 150) !important;
}

.ce-message-date-text {
  display: none !important;
}

.ce-message-list {
  margin-top: 0 !important;
}


button .ce-custom-send-button {
  color: #fff !important;
} 

svg:hover {
  color: rgb(62, 215, 249) !important;
}


@media(max-width: 768px) {
  .ce-new-chat-button {
    display: block !important;
    position: absolute !important;
    position: absolute !important;
    z-index: 2000 !important;
    top: 69px !important;
    left: 27px !important;
  }

  .css-14ft38c-control {
    position: absolute !important;
    left: 12px !important;
    width: 254px !important;
  }
}
